* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.cellShell {
  overflow: hidden;
  position: relative;
  border: solid 1px;
	/*height: 10px;
	width: 10px;*/
}

.cell {
	/*border: solid 1px;*/
  height: 100%;
  width: 100%;
  font-size: 50%;
}

.cell:hover {
  cursor: pointer;
}

.cell:active {
  position: absolute;
  border: solid 4px;
}

.pageHeader {
  height: 20vh;
  background-color: gray;
}

.instructionsWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.instructions {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.settingsLink {
  text-decoration: none;
  position: absolute;
}

.pageMain {
  border-top: solid 2px darkGray;
  height: 80vh;
  display: flex;
  flex-direction: row;
  align-items:  center; 
  justify-content:  space-around; 
}

.boardContainer {
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  height: 40vh;
	/*width: 33vh;*/
}

.settingsPanel {
  height: 50%;
}

.colorInputsWrapper {
  height: 80%;
}

.submitButtonWrapper {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.inputWrapper {
  height: 33.3%;
}

.buttonsPanel {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-basis: 20%;
  background-color: darkGray;
  border-left: solid 2px gray;
}

.buttonGroup {
  flex-basis: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items:stretch;
  align-content: stretch;
  border: solid 2px black;
  border-radius: 5px;
  overflow: hidden;
}

.btn:active::before { 
	padding: 1px 0 0; 
}

.btn, .success{
  text-decoration: none;
  color: white;
}

.btn, .btn:disabled:hover{
  background: #abe4f8;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abe4f8), to(#74d0f4));
  background: -moz-linear-gradient(#abe4f8, #74d0f4);
  background: linear-gradient(#abe4f8, #74d0f4);
  border: solid 1px #8cc5d9;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #cdeffb;
  text-shadow: 0 1px 0 #b6e6f9; 
  }
    
.btn:hover {
  background: #80d4f5;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#80d4f5), to(#92dbf6));
  background: -moz-linear-gradient(#80d4f5, #92dbf6);
  background: linear-gradient(#80d4f5, #92dbf6);
  border: solid 1px #79acbe;
  border-bottom: solid 3px #589cb6;
  box-shadow: inset 0 0 0 1px #b2e6f8; 
}
    
.btn:active, .btn.pressed {
  background: #89d2ee;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#89d2ee), to(#84cae6));
  background: -moz-linear-gradient(#89d2ee, #84cae6);
  background: linear-gradient(#89d2ee, #84cae6);
  border: solid 1px #5c8d9f;
  box-shadow: inset 0 10px 15px 0 #79b9d2; 
}
    
.success, .success:disabled:hover {
  background: #cae285;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#cae285), to(#a3cd5a));
  background: -moz-linear-gradient(#cae285, #a3cd5a);
  background: linear-gradient(#cae285, #a3cd5a);
  border: solid 1px #aad063;
  border-bottom: solid 3px #799545;
  box-shadow: inset 0 0 0 1px #e0eeb6;
  text-shadow: 0 1px 0 #d0e5a4; 
}
    
.success:hover {
  background: #abd164;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#abd164), to(#b9d972));
  background: -moz-linear-gradient(#abd164, #b9d972);
  background: linear-gradient(#abd164, #b9d972);
  border: solid 1px #98b85b;
  border-bottom: solid 3px #799545;
  box-shadow: inset 0 0 0 1px #cce3a1; 
}
    
.success:active {
  background: #a4cb5d;
  background: -webkit-gradient(linear, 0 0, 0 bottom, from(#a4cb5d), to(#9ec45a));
  background: -moz-linear-gradient(#a4cb5d, #9ec45a);
  background: linear-gradient(#a4cb5d, #9ec45a);
  border: solid 1px #6e883f;
  border: solid 1px #6e883f;
  border: solid 1px #6e883f;
  box-shadow: inset 0 10px 15px 0 #90b352; 
 }

 .btn:disabled, .bth:disabled:hover, .success:disabled:hover {
 	color: graytext;
 }